.container{
    display: flex;
    border: 5px solid black;
    height: 90vh;
    /* flex-wrap: wrap;
    align-content: flex-start; */
}

.box{
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 8em;
    border-radius: 10px;
    margin: 5px;
}

#box1{
    background-color: blue;
    align-self: center;
}

#box2{
    background-color: red;
    align-self: center;
}

#box3{
    background-color: rgb(247, 0, 255);
}

#box4{
    background-color: rgb(0, 255, 0);
}
