h1::first-letter{
    font-size: 2em;
    font-style: italic;
}

p::first-line{
    background-color: yellowgreen;
}

p::selection{
    color: white;
    background-color: black;
}

#apple::after{
    content: " 🍎";
}

#orange::after{
    content: " 🍊";
}

#banana::after{
    content: " 🍌";
}

#fruit li::marker{
    content: "✔️";
    font-size: 1em;
}