body{
    margin: 0px;
}

.box{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
    margin: 25px;
}

#box1{
    background-color: red;
}

#box2{
    background-color: blue;
}